[submodule "backoffice"]
	path = backoffice
	url = git@github.com:gigasource/backoffice.git
	branch = deploy_optimize
[submodule "cms"]
	path = cms
	url = git@github.com:gigasource/cms.git
	branch = deploy_optimize
[submodule "cms-configs"]
	path = cms-configs
	url = git@github.com:gigasource/cms-configs.git
	branch = master
